@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Bebas+Neue&family=Kalam:wght@300&family=Montserrat:ital,wght@1,300&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

.academics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Alumni Sans Inline One', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.faculty{
    margin-top: 30px;
    /* margin-bottom: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    float: left;
    margin-left: 11px;
}

.faculty-container{
    font-size: 18px;
    padding-top: 20px;
    font-weight: 600px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 55px ;
    padding-right: 11px;
    padding-left: 11px;
    padding-bottom: 20px;
}
.guidlines{
    padding-left: 11px;
    padding-right: 11px;   
}
.guidlines ul{
    padding-top: 30px;
    padding-bottom: 30px;
}
.guidlines ul li{
    list-style: none;
}
.guidlines ul li:before {
    content: '✓';
  }
.guidlines h1{
    background-color: #3c8665;
    color: white;
    padding-left: 11px;
    padding-right: 11px;
}
.teacher-details{
    padding-left: 11px;
    padding-right: 11px;
}
.teacher-details h1{
    background-color: #3c8665;
    color: white;
    padding-left: 11px;
    padding-right: 11px;
}
.uniform{
    padding-left: 11px;
    padding-right: 11px;
}
.uniform h1{
    background-color: #3c8665;
    color: white;
    padding-left: 11px;
    padding-right: 11px;
}
.uniform h2{
    background-color: rgb(214, 214, 214);
    margin-top: 35px;
}
th{
    /* display: flex;
    flex-direction: column; */
    padding: 15px;
  text-align: left;
    height: 30px;
}
td{
    /* display: flex;
    flex-direction: column; */
    padding: 15px;
    text-align: left;
}
table{
    /* display: flex;
    flex-direction: column; */
    border: 1px solid;
    width: 100%;
}
td:hover{
    background-color: coral;
}














@media only screen and (min-width: 768px){
    .academics-container{
        padding-left: 200px;
        padding-right: 200px;
    }
  
    th{
        padding-left: 10px;
        padding-right: 10px;
    }
}